@model ITest.Areas.User.Models.HomeViewModels.AnswerViewModel

<div>
    <input type="radio" class="radio-button" name="@Model.QuestionId" value="@Model.Id">

    <label>
        @Html.Raw(@Model.Description)
    </label>
</div>