@model ITest.Areas.User.Models.HomeViewModels.AnswerViewModel

<div>
    <label>
        <input type="radio" class ="radio-button" name="@Model.QuestionId" value="@Model.Id"> <span class="label-text">@Html.Raw(@Model.Description)</span>
    </label>
</div>