@model ITest.Areas.User.Models.HomeViewModels.AnswerViewModel

<div class="form-check">
    <label>
        <input type="radio" name="radio1"> <span class="label-text">@Model.Description</span>
    </label>
</div>