@model ITest.Areas.User.Models.HomeViewModels.QuestionViewModel

<div class="row">
<div class="col-md-12">
    <div class="alert question-container" role="alert">
        @Html.Raw(@Model.Description);
    </div>
    @foreach (var answer in Model.Answers)
    {
        @Html.Partial("AnswerPartial", answer);
    }
</div>
</div>