@model ITest.Areas.User.Models.HomeViewModels.QuestionViewModel


<div class="col-md-12">
    <div class="alert bg-info" role="alert">
        @Model.Description
    </div>
    @foreach (var answer in Model.Answers)
    {
        @Html.Partial("AnswerPartial", answer);
    }
</div>