
@{
    ViewData["Title"] = "NewAnswerPartial";
}

<div class="answer-container">
    <div class="checkbox">
        <button type="button" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        <label class="pull-right"><input type="checkbox">Correct Answer</label>
    </div>
    <div class="answer-count">Answer</div>
<textarea class="form-control answer" rows="5"></textarea>
</div>



