@model ITest.Areas.Admin.Models.CreateQuestionViewModel

@{
    ViewData["Title"] = "NewQuestionPartial";
}

<div class="question-container">
    <div>
        <h2 class="question-count">
            Question 1
            <button type="button" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </h2>
    </div>

    <div class="form-group question">
        <div>Description</div>
        <textarea asp-for="Content" class="form-control question" rows="5" id="question-content"></textarea>
        @Html.Partial("NewAnswerPartial")
        @Html.Partial("NewAnswerPartial")
        @Html.Partial("NewAnswerPartial")
    </div>
    <div>
        <button type="button" id="new-answer-button" class="new-answer-button btn btn-primary pull-right">Add New Answer</button>
    </div>
</div>
<div style="clear:both"></div>

