@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <section>
            @Html.Partial("Login")
        </section>
    </div>
    <div class="col-md-6 ">
        <section>
            @Html.Partial("Register")
        </section>
    </div>
</div>