body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.question-container {
    background-color: #f4a142;
}

.panel-default > .panel-heading {
    background-color: #f4a142;
}

.nav-tabs > li > a {
    color: #337ab7;
}

.nav-tabs > li.active > a {
    color: #337ab7;
}

.checkbox > label {
    margin-right: 2%;
}

.save-buttons {
    margin-top: 2%;
}

#save-draft {
    margin-right: 2%;
}

.btn.btn-default .pull-right .delete-question-button {
    margin-top: 2%;
}

.note-editor .note-frame {
    margin-top: 2%
}

.ui-helper-hidden-accessible, .ui-tooltip {
    display: none !important;
}

.answer-count {
    margin-bottom: 2%;
}

.question-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in;
}

div.value-size {
    font-size: 250%;
}
    .question-content.active {
        max-height: 1000px;
        transition: max-height 1s ease-in;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #fff;
    color: black !important;
}


#tab2default #results-table_wrapper {
    width: 94%;
}